*/venv/
/__pycache__/
/.idea/
/*.pb/
/*.tsv
/sbs.py
/*.txt
/*.csv
/notebooks/*.pb
/notebooks/temp_ckpt
/notebooks/*.onnx
.ipynb_checkpoints
/*.wav
/*.gz
/venv
/checkpoints/
/.DS_Store
*.pyc
/src/hfg.egg-info/*
/src/voice_conversion.egg-info/*
.env
/models
*.pt
*.pbtxt
!*.pbtxt.example
cached_lm*
*.egg-info*

.vscode
.ml-job-preset.yml
